########## configuration file ##############################
lambda_min           8500    Angstroms for blue cutof 
lambda_max           17000    Angstroms for red cutoff 
transition_wave      11200    Angstroms at which switch between G102 and G141


###### detector things ####################################
dispersion_red           46.5       Angstroms/pix 
dispersion_blue          23  

##### line fitting ###### 
line_mask          250         window in A around the peak to mask out when fitting preliminary continuum
fit_region      1500           window in A around lines to actually fit; defined, e.g Ha - fit_region to [SII] + fit_region 
node_wave        9000 10000  11000 12000  13000  14000  15000  16000 
mask_region1     0  0         
mask_region2     0  0
mask_region3     0  0  
fitfluxes        True          False = direct integrate over ha+sii or oiii/hb.  BLENDS LINES.  TESTING ONLY. 
showfig          True
max_fwhm_scl     2.0           fwhm can be up to 2x input guess
min_fwhm_scl     0.3           fwhm can be as small as 0.3 x input guess

